%h1 Profile Details
%p
  %strong Doctor Name:
  = @profile.doctor.name
%p
  %strong Experience:
  = @profile.experience
%p
  %strong Consultation Fee:
  = @profile.consultation_fee
%p
  %strong Languages:
  = @profile.languages_spoken&.join(", ")