= turbo_frame_tag "tab" do
  %div{style: "display:flex; justify-content:center;"}
    %div
      %h1{style:"color: navy;"} Doctors
      = turbo_frame_tag "modal"
      = link_to "New Doctor", new_doctor_path, data: {turbo_frame: "modal"}

      %table{border:"1"}
        %thead
          %tr
            %th name
            %th{colspan: "3"} Actions
        %tbody#doctors_table_body
          - @doctors.each do |doctor|
            = render "doctor_row", doctor: doctor